
#bg-media {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	background: black url(https://arkanys-assets.s3-sa-east-1.amazonaws.com/bg.jpg) no-repeat;
	background-size: cover;
  z-index: -1;
}
