.bg-shadow {
  position: fixed;
  z-index: 2000;

  .top {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url( '../img/border-top.png' );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  .left {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background: url( '../img/border-left.png' );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  .right {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 100px;
    height: 100vh;
    background: url( '../img/border-right.png' );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  .bottom {
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url( '../img/border-bottom.png' );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: none;
  }
}
