#home {
  padding-top: 100vh;
  padding-bottom: 20vh;

  .list-members {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and ( max-width: 980px ) {
    }

    @media screen and ( max-width: 640px ) {
      margin: 10px;
    }

    li{
      position: relative;
      display: inline-block;
      list-style-type: none;
      margin: 20px;

      @media screen and ( max-width: 640px ) {
        margin: 10px;
      }
    }

    div {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      color: #222;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 18px;
      padding: 0;
      background-image: url( '../img/star.svg' );
      background-size: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      @media screen and ( max-width: 640px ) {
        width: 120px;
        height: 120px;
        font-size: 16px;
      }

      &.realeza {
        background-image: url( '../img/star-realeza.svg' );
      }

      &.delegado {
        background-image: url( '../img/star-delegado.svg' );
      }

      &.exlider {
        background-image: url( '../img/star-exlider.svg' );
      }

      &.lider {
        background-image: url( '../img/star-lider.svg' );
      }
    }
  }
}
