#menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40vw;
  top: 0;
  right: calc( -40vw + 4px );
  background: black url( '../img/bg-1.jpg' );
  background-size: cover;
  background-position: center;
  border-left: solid 4px #f60546;
  transition: 1s;
  z-index: 99999;


  @media screen and ( max-width: 980px ) {
    width: 80vw;
    right: calc( -80vw + 4px );
  }

  &.activated {
    right: 0;
  }

  .menu-icon-wrapper {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translate( 0, -50%);
    background: #f60546;
    border-radius: 5px;
    display: inline-block;
    width: 50px;
    height: 50px;
  	pointer-events: none;
  	transition: 0.1s;
  }

  .menu-icon-wrapper.scaled {
  	transform: scale(0.8);
  }

  .menu-icon-wrapper svg {
  	position: absolute;
    top: 50%;
    left: 50%;
  	transform: scale(0.12) translate( -50%, -50%);
  	-webkit-transform-origin: 0 0;
  	-ms-transform-origin: 0 0;
  	transform-origin: 0 0;
  }

  .menu-icon-wrapper svg path {
  	stroke: white;
  	stroke-width: 40px;
  	stroke-linecap: round;
    stroke-linejoin: round;
  	fill: transparent;
  }

  .menu-icon-wrapper .menu-icon-trigger {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	cursor: pointer;
  	pointer-events: auto;
  	background: none;
  	border: none;
  	margin: 0;
  	padding: 0;
  }

  .menu-icon-wrapper .menu-icon-trigger:hover,
  .menu-icon-wrapper .menu-icon-trigger:focus {
  	outline: none;
  }

  &.activated {
    &+ .custom-menu-mobile {
      position: absolute;
      display: block;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: #2a2e38;
      z-index: 1;
    }
  }

  .menu {
    .item {
      margin: 10px 0;
      position: relative;

      a {
        text-align: center;
        position: relative;
        display: block;
        white-space: nowrap;
        color: #a7a9ac;
        font: 24px "Roboto";
        text-transform: uppercase;
      }
    }
  }
}
