<section id="about" class="parallax-window parallax-home" data-parallax="scroll" data-position="-190px top" data-image-src="/img/bg-picture-1.jpg">
  <div class="wrap-content">
    <h2>Sobre a Arkanys</h2>

    <p>Somos uma comunidade voltada para o cenário competitivo.</p>
    <p>Nossa história teve início no jogo "Survival Heroes Brasil" e desde então estamos expandindo a comunidade com lideranças em diversos outros jogos, aumentando nossa capacidade competitiva e ganhando cada vez mais espaço na cena e-sport.</p>
    <p>Se estiver disposto a pagar o preço, venha fazer parte da nossa família!</p>
  </div>
</section>
