<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body id="bem-vindo">
    <% include bg-shadow %>
    <% include header %>

    <main>
      <section class="wrap-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bem Vindos</li>
          </ol>
        </nav>

        <h2>Bem-Vindos</h2>

        <p>Ficamos felizes em ter você conosco, provavelmente você é um recruta ou apenas simpatizou com o clã, primeiramente te convidamos a visitar o nosso <a href="/discord" target="_blank" class="lnk">Discord</a>. Através do servidor discord fazemos campeonatos e organizamos eventos em geral. Se você nunca usou o discord, no início pode parecer um pouco complexo, mas é bem divertido.</p>

        <p>Caso você queira ser recrutado, entre em contato com o <a href="https://whats.link/queroarkanys" target="_blank" class="lnk">whatsapp do líder</a>, queremos você em nosso time! Aceitamos qualquer elo, desde que você seja empenhado em fazer a diferença cumprindo as metas do clã.</p>

        <h3>Já sou membro</h3>
        <p>Vamos lá, se você já foi recrutado e faz parte da família, parabéns, queremos que você cresça muito no jogo, somos parceiros!<br/>Temos algumas considerações importante que você precisa seguir para continuar conosco:</p>

        <ul>
          <li>1 - Seguir as regras. É muito importante que você entre no link <a href="/regras" class="lnk" target="_blank">https://arkanys.com.br/regras</a> e leia todas as regras com muita atenção, presamos muito pelo bom convívio, nos ajude a manter o ambiente do clã sempre positivo.</li>
          <li>2 - Participar do Mestre/Aprendiz do clã. Funciona da seguinte forma, se você for alguém experiente, sugerimos que você seja um mestre, caso tenha começado recentemente no jogo ou não tenha muita segurança, recomendamos que seja aprendiz! O método consiste em criar um ciclo de ajuda entre todos os membros, ou seja, mestres ajudam aprendizes a se tornarem mestres que vão ajudar outros aprendizes e assim criar esse ciclo onde quem ganha são os próprios membros. Leia a explicação abaixo para entender melhor como funciona.</li>
        </ul>

        <h3>Mestre/Aprendiz</h3>
        <p>Para começar, primeiramente decida se vai começar sendo "Mestre" ou "Aprendiz", em seguida entre na pagina de "<a href="/membros" class="lnk" target="_blank">Membros</a>".</p>
        <p>Na página de membros vamos ter uma lista com todos membros que fazem parte do clã, confira se seu nick já consta na lista e atualize seus dados clicando no botão "Editar" caso necessário, é muito importante que seu whatsapp esteja correto, pois será assim que os outros membros do clã farão contato com você., se você for novo por aqui, provavelmente seu perfil ainda não foi criado e precisamos fazer isso, clique no botão para "Adicionar Membro" e insira seu perfil através do formulário. Marque a opção "mestre" caso queira ser um mestre, ou deixe desmarcado caso queira ser aprendiz, lembrando que mestres também podem ser aprendizes de outros mestres.</p>

        <h3>Quero ser aprendiz</h3>
        <p>Agora com o perfil criado e atualizado, você precisa buscar seu mestre ou aprendiz, não precisa ter pressa nessa escolha, o importante é ter certeza. Caso escolha ter um aprendiz, você deverá conseguir ajudar esse membro a evoluir até o último elo, ou caso queira ter um mestre, escolha um que seja dedicado o bastante para te ajudar no que for preciso para alimentar seus conhecimentos. Digamos que você já tenha em mente quem será seu futuro "Mestre". Entre no seu perfil clicando no seu nick que aparece na lista de membros, em seguida clique em "Conseguir um Mestre", uma pequena janela se abrirá para que você escolha o mestre desejado. Após esse processo você deverá aguardar seu futuro mestre aprovar sua solicitação. Para agilizar a aprovação, compartilhe com o membro o link do pedido. Na página do seu perfil, têm uma lista de "Pedidos enviados pendentes", basta clicar em "Compartilhar com membro" e enviar para o whatsapp do mestre.</p>

        <h3>Quero ser mestre</h3>
        <p>Agora com o perfil criado e atualizado, você precisa buscar seu mestre ou aprendiz, não precisa ter pressa nessa escolha, o importante é ter certeza. Caso escolha ter um aprendiz, você deverá conseguir ajudar esse membro a evoluir até o último elo, ou caso queira ter um mestre, escolha um que seja dedicado o bastante para te ajudar no que for preciso para alimentar seus conhecimentos. Digamos que você já tenha em mente quem será seu futuro "Aprendiz". Entre no seu perfil clicando no seu nick que aparece na lista de membros, em seguida clique em "Conseguir um Aprendiz", uma pequena janela se abrirá para que você escolha o aprendiz desejado. Após esse processo você deverá aguardar seu futuro aprendiz aprovar sua solicitação. Para agilizar a aprovação, compartilhe com o membro o link do pedido. Na página do seu perfil, têm uma lista de "Pedidos enviados pendentes", basta clicar em "Compartilhar com membro" e enviar para o whatsapp do aprendiz.</p>

        <p>Estamos a todo instante pensando em formas diferenciadas para tornar a experiência dos membros a melhor possível. Eventos, sorteios de gifts, campeonatos: Aprendizes vs Aprendizes, Mestres vs Mestres e Clã vs Clãs. Somos um clã bem organizado e esperamos que nossos membros estejam à altura, por isso, nos ajudem a manter o alto nível.</p>

        <p>Obrigado, equipe!</p>
      </section>
    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
