<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body id="bem-vindo">
    <% include bg-shadow %>
    <% include header %>

    <main>
      <section class="wrap-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bem Vindos</li>
          </ol>
        </nav>

        <h2>Bem-Vindos</h2>

        <p>Ficamos felizes em ter você conosco, provavelmente você é um recruta ou apenas simpatizou com o clã, primeiramente te convidamos a visitar o nosso <a href="/discord" target="_blank" class="lnk">Discord</a>. Através do servidor discord fazemos campeonatos e organizamos eventos em geral. Se você nunca usou o discord, no início pode parecer um pouco complexo, mas é bem divertido.</p>

        <p>Caso você queira ser recrutado, entre em contato com o <a href="https://whats.link/queroarkanys" target="_blank" class="lnk">whatsapp do líder</a>, queremos você em nosso time! Aceitamos qualquer elo, desde que você seja empenhado em fazer a diferença cumprindo as metas do clã.</p>

        <h3>Já sou membro</h3>
        <p>Vamos lá, se você já foi recrutado e faz parte da família, parabéns, queremos que você cresça muito no jogo, somos parceiros!<br/>Temos algumas considerações importante que você precisa seguir para continuar conosco:</p>

        <ul>
          <li>1 - Seguir as regras. É muito importante que você entre no link <a href="/regras" class="lnk" target="_blank">https://arkanys.com.br/regras</a> e leia todas as regras com muita atenção, presamos muito pelo bom convívio, nos ajude a manter o ambiente do clã sempre positivo.</li>
          <li>2 - Participar do Mestre/Aprendiz do clã. <a href="/mestre-aprendiz" class="lnk">Clique aqui</a> para entender melhor como funciona.</li>
        </ul>

        <p>Estamos a todo instante pensando em formas diferenciadas para tornar a experiência dos membros a melhor possível. Eventos, sorteios de gifts, campeonatos: Aprendizes vs Aprendizes, Mestres vs Mestres e Clã vs Clãs. Somos um clã bem organizado e esperamos que nossos membros estejam à altura, por isso, nos ajudem a manter o alto nível.</p>
        <br/>
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/Lkqf5IDH_nE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br/>
        <br/>
        <p>Obrigado, equipe!</p>
      </section>
    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
