<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body id="connect">
    <% include bg-shadow %>
    <% include header %>

    <main>
      <section class="wrap-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Conecte-se</li>
          </ol>
        </nav>

        <h2>Conecte-se</h2>

        <p class="text-center">Conecte-se conosco através de nossos canais digitais nos links abaixo:</p>

        <nav>
          <ul>
              <li><a href="/bem-vindos" class="w-100 btn btn-dark btn-lg">Site</a></li>
              <li><a href="/gifts" class="w-100 btn btn-dark btn-lg">Gifts</a></li>
              <li><a href="/regras" class="w-100 btn btn-dark btn-lg">Regras</a></li>
              <li><a href="/discord" class="w-100 btn btn-dark btn-lg">Discord</a></li>
              <li><a href="/youtube" class="w-100 btn btn-dark btn-lg">Youtube</a></li>
              <li><a href="/instagram" class="w-100 btn btn-dark btn-lg">Instagram</a></li>
              <li><a href="/whatsapp" class="w-100 btn btn-dark btn-lg">Whatsapp</a></li>
              <li><a href="/justificativa" class="w-100 btn btn-dark btn-lg">Justificar ausência ou baixa pontuação</a></li>
          </ul>
        </nav>
      </section>
    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
