<section id="contacts">
  <div class="wrap-content">
    <h2>Canais</h2>

    <nav class="list">
      <ul>
        <li><a href="https://whats.link/queroarkanys" target="_blank"><img class="icon" src="/img/icons/icon-whatsapp.svg" alt=""></a></li>
        <li><a href="https://www.youtube.com/channel/UCRdweKmKMREDDkZNXB7pCXg" target="_blank"><img class="icon" src="/img/icons/icon-youtube.svg" alt=""></a></li>
        <li><a href="/discord" target="_blank"><img class="icon" src="/img/icons/icon-discord.svg" alt=""></a></li>
      </ul>
    </nav>
  </div>
</section>
