<section id="contacts">
  <div class="wrap-content">
    <h2>Canais</h2>

    <nav class="list">
      <ul>
        <li><a href="/whatsapp" target="_blank"><img class="icon" src="/img/icons/icon-whatsapp.svg" alt="Whatsapp" title="Whatsapp"></a></li>
        <li><a href="/youtube" target="_blank"><img class="icon" src="/img/icons/icon-youtube.svg" title="Youtube" alt="Youtube"></a></li>
        <li><a href="/discord" target="_blank"><img class="icon" src="/img/icons/icon-discord.svg" alt="Discord" title="Discord"></a></li>
        <li><a href="/instagram" target="_blank"><img class="icon" src="/img/icons/icon-instagram.svg" alt="Instagram: @arkanysports" title="Instagram: @arkanysports"></a></li>
      </ul>
    </nav>
  </div>

  <div class="wrap-instagram">
    <!-- LightWidget WIDGET -->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/1283ffcc98625d56b05211e178c5e854.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
  </div>
</section>
