<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body id="dicas">
    <% include bg-shadow %>
    <% include header %>

    <main>
      <section class="wrap-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dicas</li>
          </ol>
        </nav>

        <h2>Dicas</h2>

        <h4>Conhecimentos fundamentais:</h4>
        <ul>
          <li>(vídeo)<a href="https://www.youtube.com/watch?v=FTBW5Cx1_gY" target="_blank" class="lnk">Classes, runas e armas. Parte 1!</a></li>
          <li>(vídeo)<a href="https://www.youtube.com/watch?v=k4-PrJ9AfBM" target="_blank" class="lnk">Equipamentos. Parte 2!</a></li>
          <li>(vídeo)<a href="https://www.youtube.com/watch?v=Wa9ihDerSog" target="_blank" class="lnk">131 dicas gerais.(inglês)</a></li>
          <li>(Texto)<a href="https://www.reddit.com/r/survivalheroes/comments/9pms62/131_tips_and_tricks_for_survival_heroes_moba/" target="_blank" class="lnk">131 dicas gerais.(inglês)</a></li>
          <li>(vídeo)<a href="https://www.youtube.com/watch?v=k4-PrJ9AfBM" target="_blank" class="lnk">Tutorial pontos diários.</a></li>
        </ul>

        <h4>Guias gerais:</h4>
        <ul>
          <li><a href="https://sh-brasil.fandom.com/pt-br/wiki/Guia_B%C3%A1sico" target="_blank" class="lnk">Guia Básico</a></li>
          <li><a href="https://sh-brasil.fandom.com/pt-br/wiki/Guia_de_Configura%C3%A7%C3%B5es" target="_blank" class="lnk">Guia Configurações</a></li>
          <li><a href="https://sh-brasil.fandom.com/pt-br/wiki/Armas" target="_blank" class="lnk">Armas</a></li>
          <li><a href="https://sh-brasil.fandom.com/pt-br/wiki/Equipamentos" target="_blank" class="lnk">Equipamentos e Consumíveis</a></li>
          <li><a href="https://sh-brasil.fandom.com/pt-br/wiki/Runas" target="_blank" class="lnk">Guia Básico de Runas - 1</a></li>
          <li><a href="https://sh-brasil.fandom.com/pt-br/wiki/Guia_B%C3%A1sico_de_Runas" target="_blank" class="lnk">Guia Básico de Runas - 2</a></li>
          <li><a href="https://sh-brasil.fandom.com/pt-br/wiki/Guia_de_Combate" target="_blank" class="lnk">Guia de Combate</a></li>
        </ul>

        <p>Caso seja novo no clã e precise de ajuda, visite esse <a href="/bem-vindos" class="lnk">material que preparamos para você</a>.</p>

        <p>Obrigado, equipe!</p>
      </section>

      <section class="wrap-content">
        <div id="disqus_thread"></div>
      </section>
    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
