<footer id="footer">
  ©2020 - Arkanys - <a href="/bem-vindos" class="lnk">Bem Vindos</a> - <a href="/regras" class="lnk">Regras</a> - <a href="/mestre-aprendiz" class="lnk">Mestre Aprendiz</a> - <a href="/dicas" class="lnk">Dicas</a>
</footer>
