<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body id="gifts">
    <% include header %>
    <% include menu %>

    <main>
      <section class="wrap-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gifts</li>
          </ol>
        </nav>

        <h2>Gifts</h2>

        <style media="screen">
          dd {
            margin: 20px 0;
          }
        </style>

        <div class="card bg-light w-100">
          <div class="card-header d-flex justify-content-between align-items-center"><span class="text-left">08-08-2020</span><h5 class="text-right">Português</h5></div>
          <div class="card-body">
            <h4 class="card-title">Sorteio Skin Lendária</h4>
            <div class="card-text">
              <p>
                Como agradecimento ao empenho de todos, ao <strong>final da Temporada 8</strong> faremos um sorteio de uma <strong>Skin Lendária</strong>.
                <br/>
                Para participar siga as regras:
              </p>
              <ul>
                <li>- Ser <strong>membro ativo</strong> na guild Arkanys.</li>
                <li>- Participar do <strong>grupo whatsapp</strong> OU <strong>discord</strong> da guild.(<a href="https://whats.link/queroarkanys" target="_blank" class="lnk">clique aqui para ser adicionado ao grupo whatsapp</a> OU <a href="/discord" target="_blank" class="lnk">clique aqui para acessar o discord</a>)</li>
                <li>- Ter mais que <strong>10k em pontos de atividade da temporada</strong> na guild.</li>
              </ul>

              <p>O sorteio será feito assim que a temporada terminar, vamos nos basear na pontuação da "<strong>atividade da temporada</strong>".</p>
              <p>O membro vencedor poderá <strong>escolher qualquer uma das skins lendárias</strong> que estiverem disponíveis na loja.</p>
              <p>Dica: O membro que pontuou mais, terá mais cupons para participar, exemplo: se o membro fez 25000 pontos, ele vai ter 5 chances de vencer, pois vamos dar +1 chance pra cada 5000 em pontos doados, sendo assim, quem têm 10000 terá 2 chances, e quem tem 50000 terá 10 chances. Recomendamos que se dedique em pontuar para aumentar suas chances de ganhar.</p>
            </div>
          </div>
        </div>

        <div class="card bg-light w-100">
          <div class="card-header d-flex justify-content-between align-items-center"><span class="text-left">08-08-2020</span><h5 class="text-right">English</h5></div>
          <div class="card-body">
            <h4 class="card-title">Draw Legendary Skin</h4>
            <div class="card-text">
              <p>
                As a thank you to everyone for their efforts, at <strong>the end of Season 8</strong> we will make a draw for a <strong>Legendary Skin</strong>.
                <br/>
                To participate follow the rules:
              </p>
              <ul>
                <li>- Be an <strong>active member</strong> of the Arkanys guild.</li>
                <li>- <strong>Join the whatsapp group</strong> OR <strong>discord</strong> of the guild.(<a href="https://whats.link/queroarkanys" target="_blank" class="lnk">click here to be added to the whatsapp group</a> OR <a href="/discord" target="_blank" class="lnk">click here to access the discord</a>)</li>
                <li>- Have more than <strong>10k activity points of the season</strong> in the guild.</li>
              </ul>

              <p>The draw will be done as soon as the season ends, we will be based on the "<strong>season's activity</strong>" score.</p>
              <p>The winning member will be able to <strong>choose any of the legendary skins</strong> that are available in the store.</p>
              <p>Tip: The member who scored more, will have more coupons to participate, example: if the member scored 25000 points, he will have 5 chances to win, because we will give +1 chance for every 5000 in donated points, so, if you have 10,000 will have 2 chances, and whoever has 50,000 will have 10 chances. We recommend that you dedicate yourself to scoring to increase your chances of winning.</p>
            </div>
          </div>
        </div>

        <div class="card bg-light w-100">
          <div class="card-header d-flex justify-content-between align-items-center"><span class="text-left">08-08-2020</span><h5 class="text-right">Español</h5></div>
          <div class="card-body">
            <h4 class="card-title">Regalo de piel legendario</h4>
            <div class="card-text">
              <p>
                Como agradecimiento a todos por sus esfuerzos, <strong>al final de la temporada 8</strong> haremos un sorteo para un <strong>skin legendario</strong>.
                <br/>
                Para participar sigue las reglas:
              </p>
              <ul>
                <li>- Sé un <strong>miembro activo</strong> del gremio Arkanys.</li>
                <li>- <strong>Participa en el grupo de WhatsApp</strong> O <strong>discord</strong> del gremio.(<a href="https://whats.link/queroarkanys" target="_blank" class="lnk">haga clic aquí para ser agregado al grupo de Whatsapp</a> O <a href="/discord" target="_blank" class="lnk">haga clic aquí para acceder a la discordia</a>)</li>
                <li>- Tener más de <strong>10k puntos de actividad de la temporada</strong> en el gremio.</li>
              </ul>

              <p>El sorteo se realizará tan pronto como termine la temporada, nos basaremos en el puntaje de "<strong>actividad de la temporada</strong>".</p>
              <p>El miembro ganador <strong>podrá elegir cualquiera de las máscaras legendarias</strong> que están disponibles en la tienda.</p>
              <p>Consejo: El miembro que obtuvo más puntos tendrá más cupones para participar, por ejemplo: si el miembro obtuvo 25000 puntos, tendrá 5 oportunidades de ganar, porque le daremos +1 coupon a cada 5000 en puntos donados, por lo tanto, que tengan 10000 tendrá 2 oportunidades, y quien tenga 50,000 tendrá 10 oportunidades. Le recomendamos que se dedique a la puntuación para aumentar sus posibilidades de ganar.</p>
            </div>
          </div>
        </div>

      </section>

      <section class="wrap-content">

        <div id="disqus_thread"></div>
      </section>
    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
