<section id="graph">
    <h2>
      Membros
    </h2>

    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Chart code -->
    <script>
      am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create( "chartdiv", am4plugins_forceDirected.ForceDirectedTree );

        var networkSeries = chart.series.push( new am4plugins_forceDirected.ForceDirectedSeries() );

        networkSeries.dataFields.linkWith = "discipleMaster";
        networkSeries.dataFields.name = "name";
        networkSeries.dataFields.id = "name";
        networkSeries.dataFields.value = "nvl";
        networkSeries.dataFields.children = "disciples";

        networkSeries.nodes.template.label.text = "{name}"
        networkSeries.fontSize = 12;
        networkSeries.linkWithStrength = 0;
        networkSeries.maxLevels = 6;
        networkSeries.manyBodyStrength = -16;
        networkSeries.maxRadius = am4core.percent( 7 );

        networkSeries.nodes.template.tooltipText = "{name}";
        networkSeries.nodes.template.fillOpacity = 1;
        networkSeries.nodes.template.label.hideOversized = true;
        networkSeries.nodes.template.label.truncate = true;

        var linkTemplate = networkSeries.links.template;
        networkSeries.links.template.strokeWidth = 2;
        var linkHoverState = linkTemplate.states.create("hover");
        linkHoverState.properties.strokeOpacity = 1;
        linkHoverState.properties.strokeWidth = 2;

        networkSeries.nodes.template.events.on( 'hit', function( event ) {

          window.location.href = window.location.href + 'membro/' + event.target.dataItem.name;

        } );

        networkSeries.data = <%- JSON.stringify( membersGraph ) %>;

      } );
    </script>

    <!-- HTML -->
    <div id="chartdiv"></div>
</section>
