<header id="header">
  <h1 class="title">
    <a href="/">
      <img class="logo" data--400-top="opacity: 0; transform: translate(0%, 110%); transition: transform 1s cubic-bezier(0, 0, 0, 1) 0s; will-change: transform; transform-origin:center;" data-top="opacity: 1; transform: translate(0%, 0%);" src="/img/logo.png" alt="Arkanys E-Sports">
    </a>
  </h1>

  <% include bg-media %>
</header>
