<script>
  // window.fbAsyncInit = function() {
  //   FB.init({
  //     appId      : '2884355011673511',
  //     cookie     : true,
  //     xfbml      : true,
  //     version    : 'v7.0'
  //   });
  //
  //   FB.AppEvents.logPageView();
  // };
  //
  // (function(d, s, id){
  //    var js, fjs = d.getElementsByTagName(s)[0];
  //    if (d.getElementById(id)) {return;}
  //    js = d.createElement(s); js.id = id;
  //    js.src = "https://connect.facebook.net/en_US/sdk.js";
  //    fjs.parentNode.insertBefore(js, fjs);
  //  }(document, 'script', 'facebook-jssdk'));
  //
  //  FB.getLoginStatus( function( response ) {
  //    statusChangeCallback( response );
  //  } );
  //
  //  function checkLoginState() {
  //    FB.getLoginStatus(function(response) {
  //      statusChangeCallback(response);
  //    } );
  //  }
</script>

<header id="header">
  <h1 class="title">
    <a href="/">
      <img class="logo" data--400-top="opacity: 0; transform: translate(0%, 110%); transition: transform 1s cubic-bezier(0, 0, 0, 1) 0s; will-change: transform; transform-origin:center;" data-top="opacity: 1; transform: translate(0%, 0%);" src="/img/logo.png" alt="Arkanys E-Sports">
    </a>
  </h1>

  <% include bg-media %>
</header>

<aside id="menu">
  <div id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: hidden">
    <svg width="1000px" height="1000px">
      <path id="pathA" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
      <path id="pathB" d="M 300 500 L 700 500"></path>
      <path id="pathC" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
    </svg>
    <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
  </div><!-- menu-icon-wrapper -->

  <nav class="menu">
    <ul class="list js-scroll">
      <li class="item"><a href="/bem-vindos" class="lnk-constrast">Bem Vindos</a></li>
      <li class="item"><a href="/Regras" class="lnk-constrast">Regras</a></li>
      <li class="item"><a href="/mestre-aprendiz" class="lnk-constrast">Mestre Aprendiz</a></li>
      <li class="item"><a href="/dicas" class="lnk-constrast">Dicas</a></li>
      <li class="item"><a href="/gifts" class="lnk-constrast">Gifts</a></li>
      <li class="item"><a href="/staff" class="lnk-constrast">Staff</a></li>
    </ul>
  </nav>
</aside>
