<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body>
    <% include header %>

    <% include toolbox %>

    <% include home %>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
