<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body>
    <% include header %>
    <% include menu %>

    <% include home %>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
