<!doctype html>
<html lang="en">
  <% include head %>

  <body>
    <% include bg-shadow %>
    <% include header %>

    <% include home %>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
