<% include header %>

  <main>
    <video autoplay muted loop playsinline id="bg_video" poster="https://arkanys-assets.s3-sa-east-1.amazonaws.com/bg.jpg">
      <source src="https://arkanys-assets.s3-sa-east-1.amazonaws.com/video3.mp4" type="video/mp4">
      <source src="https://arkanys-assets.s3-sa-east-1.amazonaws.com/video3.mp4" type="video/webm"/>
      <source src="https://arkanys-assets.s3-sa-east-1.amazonaws.com/video3.mp4" type="video/ogg"/>
    </video>

    <ul>
      <li>
        <div class="">
          10
        </div>
      </li>
      <li>
        <div class="">
          Rosa
        </div>
      </li>
      <li>
        <div class="">
          ALITA
        </div>
      </li>
      <li>
        <div class="">
          Moreno
        </div>
      </li>
      <li>
        <div class="">
          Ares
        </div>
      </li>
      <li>
        <div class="">
          TroonAsa
        </div>
      </li>
      <li>
        <div class="">
          Oliveira
        </div>
      </li>
      <li>
        <div class="">
          Mito
        </div>
      </li>
      <li>
        <div class="">
          CRAZY4U
        </div>
      </li>
      <li>
        <div class="">
          FENOMENO
        </div>
      </li>
      <li>
        <div class="">
          Scarrr
        </div>
      </li>
      <li>
        <div class="">
          Bartira
        </div>
      </li>
      <li>
        <div class="">
          Coffebreak
        </div>
      </li>
      <li>
        <div class="">
          MagoSpartano
        </div>
      </li>
      <li>
        <div class="">
          Travesti
        </div>
      </li>
      <li>
        <div class="">
          Krolzinha
        </div>
      </li>
      <li>
        <div class="">
          RaafaaH
        </div>
      </li>
      <li>
        <div class="">
          THANOS
        </div>
      </li>
      <li>
        <div class="">
          J
        </div>
      </li>
      <li>
        <div class="">
          Narjara
        </div>
      </li>
      <li>
        <div class="">
          Wolf
        </div>
      </li>
      <li>
        <div class="">
          Ace
        </div>
      </li>
      <li>
        <div class="">
          Wastrojj
        </div>
      </li>
      <li>
        <div class="">
          Eminencia
        </div>
      </li>
      <li>
        <div class="">
          Fady
        </div>
      </li>
      <li>
        <div class="">
          Gamba
        </div>
      </li>
      <li>
        <div class="">
          LordDeus
        </div>
      </li>
      <li>
        <div class="">
          LordJack
        </div>
      </li>
      <li>
        <div class="">
          ILycan
        </div>
      </li>
      <li>
        <div class="">
          Seya
        </div>
      </li>
      <li>
        <div class="">
          Vaguinho
        </div>
      </li>
      <li>
        <div class="">
          THS2
        </div>
      </li>
      <li>
        <div class="">
          Masterboy
        </div>
      </li>
      <li>
        <div class="">
          TerryBR
        </div>
      </li>
      <li>
        <div class="">
          Ellenzinha
        </div>
      </li>
      <li>
        <div class="">
          SebastianJoseph
        </div>
      </li>
      <li>
        <div class="">
          Meds
        </div>
      </li>
      <li>
        <div class="">
          ASSASSINO
        </div>
      </li>
      <li>
        <div class="">
          tharros
        </div>
      </li>
      <li>
        <div class="">
          vBlessed
        </div>
      </li>
      <li>
        <div class="">
          RAKKAN
        </div>
      </li>
      <li>
        <div class="">
          CanetaAzul
        </div>
      </li>
    </ul>
  </main>

<% include footer %>
