<!-- <ul class="list">
  <% for(var i = 0; i < members.length; i++) { %>
    <% if (members[ i ].name != "") { %>
      <li class="bullet">
        <div class="<%= members[ i ].status.toLowerCase() %>">
          <%= members[ i ].name %>
        </div>
      </li>
    <% } %>
  <% } %>
</ul> -->
