<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body id="members">
    <% include header-perfil %>
    <% include menu %>

    <main>
      <section class="wrap-content">
        <% include modules/info-perfil %>

        <div class="btn-group w-100" role="group">

          <% include modules/btn-invite-master %>

          <% include modules/btn-invite-disciple %>

        </div>

        <% include modules/list-request-send-master %>

        <% include modules/list-request-send-disciple %>

        <% include modules/list-request-receive-master %>

        <% include modules/list-request-receive-disciple %>

        <% include modules/list-master %>

        <% include modules/list-disciple %>

      </section>

      <section class="wrap-content">
        <div id="disqus_thread"></div>
      </section>

    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
