<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body id="members">
    <% include bg-shadow %>
    <% include header %>

    <main>
      <section class="wrap-content">
        <nav class="wrap-breadcrumb" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Início</a></li>
            <li class="breadcrumb-item"><a href="/membros">Membros</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= member.name %></li>
          </ol>
        </nav>

        <% include modules/header-perfil %>

        <div class="btn-group w-100" role="group">

          <% include modules/btn-invite-master %>

          <% include modules/btn-invite-disciple %>

        </div>

        <% include modules/list-request-send-master %>

        <% include modules/list-request-send-disciple %>

        <% include modules/list-request-receive-master %>

        <% include modules/list-request-receive-disciple %>

        <% include modules/list-master %>

        <% include modules/list-disciple %>

      </section>

      <section class="wrap-content">
        <div id="disqus_thread"></div>
      </section>

    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
