<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body id="mestre-aprendiz">
    <% include header %>
    <% include menu %>

    <main>
      <section class="wrap-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mestre Aprendiz</li>
          </ol>
        </nav>

        <h2>Mestre/Aprendiz</h2>
        <p>Essa idéia surgiu com a necessidade em nivelar a qualidade e experiência dos membros do clã, principalmente dos novos membros.</p>
        <p>O sistema funciona da seguinte forma, se você for alguém experiente, sugerimos que você seja um mestre, caso tenha começado recentemente no jogo ou não tenha muita segurança, recomendamos que seja aprendiz! O método consiste em criar um ciclo de ajuda entre todos os membros, ou seja, mestres ajudam aprendizes a se tornarem mestres que vão ajudar outros aprendizes e assim criar esse ciclo onde quem ganha são os próprios membros.</p>
        <p>Para começar, primeiramente reflita se seu nível de conhecimento no jogo te permite ensinar ou aprender, ou seja, ser "Mestre" ou "Aprendiz", em seguida entre na pagina de "<a href="/membros" class="lnk" target="_blank">Membros</a>".</p>
        <p>Na página de membros vamos ter uma lista com todos membros que fazem parte do clã, confira se seu nick já consta na lista e atualize seus dados clicando no botão "Editar", é muito importante que seu whatsapp esteja correto, pois será assim que os outros membros do clã farão contato com você., se você for novo por aqui, provavelmente seu perfil ainda não foi criado e precisamos fazer isso, clique no botão para "Adicionar Membro" e insira seu perfil através do formulário. Marque a opção "mestre" caso queira ser um mestre, ou deixe desmarcado caso queira ser aprendiz, lembrando que mestres também podem ser aprendizes de outros mestres.</p>

        <h3>Quero ser aprendiz</h3>
        <p>Agora com o perfil criado e atualizado, você precisa buscar seu mestre ou aprendiz, não precisa ter pressa nessa escolha, o importante é ter certeza. Caso escolha ter um aprendiz, você deverá conseguir ajudar esse membro a evoluir até o último elo, ou caso queira ter um mestre, escolha um que seja dedicado o bastante para te ajudar no que for preciso para alimentar seus conhecimentos. Digamos que você já tenha em mente quem será seu futuro "Mestre". Entre no seu perfil clicando no seu nick que aparece na lista de membros, em seguida clique em "Conseguir um Mestre", uma pequena janela se abrirá para que você escolha o mestre desejado. Após esse processo você deverá aguardar seu futuro mestre aprovar sua solicitação. Para agilizar a aprovação, compartilhe com o membro o link do pedido. Na página do seu perfil, têm uma lista de "Pedidos enviados pendentes", basta clicar em "Compartilhar com membro" e enviar para o whatsapp do mestre.</p>

        <h3>Quero ser mestre</h3>
        <p>Agora com o perfil criado e atualizado, você precisa buscar seu mestre ou aprendiz, não precisa ter pressa nessa escolha, o importante é ter certeza. Caso escolha ter um aprendiz, você deverá conseguir ajudar esse membro a evoluir até o último elo, ou caso queira ter um mestre, escolha um que seja dedicado o bastante para te ajudar no que for preciso para alimentar seus conhecimentos. Digamos que você já tenha em mente quem será seu futuro "Aprendiz". Entre no seu perfil clicando no seu nick que aparece na lista de membros, em seguida clique em "Conseguir um Aprendiz", uma pequena janela se abrirá para que você escolha o aprendiz desejado. Após esse processo você deverá aguardar seu futuro aprendiz aprovar sua solicitação. Para agilizar a aprovação, compartilhe com o membro o link do pedido. Na página do seu perfil, têm uma lista de "Pedidos enviados pendentes", basta clicar em "Compartilhar com membro" e enviar para o whatsapp do aprendiz.</p>

        <p>Se ainda estiver com dúvidas, <a href="http://api.whatsapp.com/send?1=pt_BR&phone=+5511997974380" class="lnk">entre em contato</a>.</p>

        <p>Obrigado, equipe!</p>
      </section>
    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
