<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body id="rules">
    <% include bg-shadow %>
    <% include header %>

    <main>
      <section class="wrap-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Regras</li>
          </ol>
        </nav>

        <h2>Regras</h2>

        <p>Para que o clã tenha um ambiente positivo e próspero criamos algumas regras que devem ser seguidas por todos que fazem parte da nossa comunidade.</p>
        <br/>
        <p><strong>1 -</strong> Não fazer panela.</p>
        <p><strong>2 -</strong> Respeitar os colegas do clã (não ser: desrespeitoso, sem pudor ou que agride o próximo nos termos dos direitos humanos)</p>
        <p><strong>3 -</strong> Não vazar informações do clã para pessoas/grupos externos. (BAN imediato)</p>
        <p><strong>4 -</strong> Sempre que possível ajudar os membros do clã a evoluir.</p>
        <p><strong>5 -</strong> Semanalmente ajudar o clã com 5000 pontos. (justificar baixa pontução) - (vídeo)<a href="https://www.youtube.com/watch?v=Ro3F8pTxbvs" target="_blank" class="lnk">Tutorial sobre pontos diários</a>.</p>
        <p><strong>6 -</strong> Não ficar mais do que 3 dias offline. (justificar ausência)</p>
        <p><strong>7 -</strong> Não usar hack.</p>
        <p><strong>8 -</strong> Não ser preconceituoso com Elo baixo.</p>
        <p><strong>9 -</strong> Após "CONVIDAR" algum membro pro time squad de 2 ou 4 pessoas, é proibido expulsar esse membro, a menos que tenha um motivo claro e tenha avisado sobre o motivo antes de expulsar. Exemplo: Não esta usando microfone ou algum problema técnico. (BAN imediato)</p>
        <p><strong>10 -</strong> (opcional) Usar a foto do clã na foto de perfil ingame.</p>
        <p><strong>11 -</strong> Participar do discord ou whatspp. (obrigatório)</p>
        <p><strong>12 -</strong> (opcional) colocar ARK como prefixo do nick. Exemplo: ARK-Moreno, ARK★10★, ARK☆Rosa☆</p>
        <p><span>*A quebra das regras acima podem ocasionar em expulsão do clã sem aviso.*</span></p>
        <br/>
        <p>Nosso amigo Ares criou um vídeo que <a href="https://www.youtube.com/watch?v=1gblCpTvHSo" target="_blank" class="lnk">explica cada uma das principais regras</a>.</p>
      </section>
    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
