<% include header %>

<% include bg-media %>

  <div class="bg-shadow">
    <div class="top"></div>
    <div class="left"></div>
    <div class="right"></div>
    <div class="bottom"></div>
  </div>

  <main id="rules">
    <section class="wrap-content">

      <h1 class="title">
        <img class="logo" src="/img/logo.png" alt="Arkanys E-Sports">
      </h1>

      <h2>### Regras</h2>

      <p><strong>1 -</strong> Não fazer panela.</p>
      <p><strong>2 -</strong> Respeitar os colegas do clã (não ser: desrespeitoso, sem pudor ou que agride o próximo nos termos dos direitos humanos)</p>
      <p><strong>3 -</strong> Não vazar informações do clã para pessoas/grupos externos. (BAN imediato)</p>
      <p><strong>4 -</strong> Sempre que possível ajudar os membros do clã a evoluir.</p>
      <p><strong>5 -</strong> Semanalmente ajudar o clã com 5000 pontos. (justificar baixa pontução)</p>
      <p><strong>6 -</strong> Não ficar mais do que 3 dias offline. (justificar ausência)</p>
      <p><strong>7 -</strong> Não usar hack.</p>
      <p><strong>8 -</strong> Não ser preconceituoso com Elo baixo.</p>
      <p><strong>9 -</strong> Após "CONVIDAR" algum membro pro time squad de 2 ou 4 pessoas, é proibido expulsar esse membro, a menos que tenha um motivo claro e tenha avisado sobre o motivo antes de expulsar. Exemplo: Não esta usando microfone ou algum problema técnico. (BAN imediato)</p>
      <p><strong>10 -</strong> (opcional) Usar a foto do clã na foto de perfil ingame.</p>
      <p><strong>11 -</strong> Participar do discord ou whatspp. (obrigatório)</p>
      <p><strong>12 -</strong> (opcional) colocar ARK como prefixo do nick. Exemplo: ARK-Moreno, ARK★10★, ARK☆Rosa☆</p>

      <p><span>*A quebra das regras acima podem ocasionar em expulsão do clã sem aviso.*</span></p>

    </section>
  </main>

<% include footer %>
